{%load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petcare</title>
    <link rel="stylesheet" href="{%static 'pets/style.css'%}">
</head>
<body>
    <header class="container">
    <h1>🐾 PetCare</h1>
    <h2>Sistema de Cadastro de Pets</h2>
     <p style="text-align: center;">
        Cadastre tutores e seus pets de forma simples.
    </p>
    </header>
    <main>
        <h2>O que deseja?</h2>
        <div class="links-home">
            <a href="/cadastrar_tutor/" class="botao botao-verde">cadastra Tutor</a>
        </div>
    </main>
</body>
</html>